# Snakemake internals
.snakemake/
.snakejob.*
*.snakemake*
# Python cache
__pycache__/
*.pyc
#outputs
results/**
!results/
!results/**/
!results/**/.gitkeep

logs/**
!logs/
!logs/**/
!logs/**/.gitkeep
# Conda cache (optional, adjust if you prefer to keep)
.env/

#Heavy inputs (resources/)
resources/
